
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/site.webmanifest" />
    <title>
      
    New York City Council | City Council Stated Meeting | February 28, 2024 | 01:30 PM | citymeetings.nyc

    </title>
    
      

<link rel="preload" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/css/dist/styles.css" as="style">
 

<link rel="stylesheet" type="text/css" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/css/dist/styles.css">




      <style>
      [x-cloak] {
        display: none !important;
      }
      </style>
    
    
      <script>
      window.APP_CONFIG = {
          shouldSendPosthogEvents: true,
          shouldSendPlausibleEvents: true,
      };
      </script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/app/modules/events.js"></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/alpine.min.js" defer></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/htmx.min.js" defer></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/app/components/beg-wall.js"></script>
      
      
        <script>window.POSTHOG_PROPERTIES = {};</script>
      
      
        <script>
      if (window.APP_CONFIG.shouldSendPosthogEvents) {
        !(function (t, e) {
          var o, n, p, r;
          e.__SV ||
            ((window.posthog = e),
            (e._i = []),
            (e.init = function (i, s, a) {
              function g(t, e) {
                var o = e.split(".");
                (2 == o.length && ((t = t[o[0]]), (e = o[1])),
                  (t[e] = function () {
                    t.push(
                      [e].concat(Array.prototype.slice.call(arguments, 0))
                    );
                  }));
              }
              (((p = t.createElement("script")).type = "text/javascript"),
                (p.crossOrigin = "anonymous"),
                (p.async = !0),
                (p.src = s.api_host + "/static/array.js"),
                (r =
                  t.getElementsByTagName("script")[0]).parentNode.insertBefore(
                  p,
                  r
                ));
              var u = e;
              for (
                void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                  u.people = u.people || [],
                  u.toString = function (t) {
                    var e = "posthog";
                    return (
                      "posthog" !== a && (e += "." + a),
                      t || (e += " (stub)"),
                      e
                    );
                  },
                  u.people.toString = function () {
                    return u.toString(1) + ".people (stub)";
                  },
                  o =
                    "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId".split(
                      " "
                    ),
                  n = 0;
                n < o.length;
                n++
              )
                g(u, o[n]);
              e._i.push([i, s, a]);
            }),
            (e.__SV = 1));
        })(document, window.posthog || []);
        posthog.init("phc_W5lvwQjbFQdky0pmvtFyA0vSLHsGqWoNk1cb0s6mZHW", {
          api_host: "https://ph.citymeetings.nyc",
          ui_host: "https://us.posthog.com",
          person_profiles: "identified_only", // or 'always' to create profiles for anonymous users as well
          capture_pageview: false, // Disable automatic pageview capture
        });
        // Capture pageview with custom properties
        posthog.capture("$pageview", window.POSTHOG_PROPERTIES || {});
      }
        </script>
      
      
    
      
      <script
        defer
        data-api="https://pl.citymeetings.nyc/api/event"
        data-domain="citymeetings.nyc"
        src="https://pl.citymeetings.nyc/js/script.js"
></script>
      
    
      
    
    
    
    
    
    <style>[x-cloak] { visibility: hidden !important; }</style>

    
    
    <link rel="canonical " href="https://citymeetings.nyc" />
    <meta name="description" content="The Stated Meeting happens every 2 weeks (4 weeks in summer), when the council votes on and introduces new legislation." />
    <meta property="og:title" content="New York City Council | City Council Stated Meeting | February 28, 2024 | 01:30 PM | citymeetings.nyc" />
    <meta property="og:description" content="The Stated Meeting happens every 2 weeks (4 weeks in summer), when the council votes on and introduces new legislation." />
    <meta property="og:image" content="https://ogloji.citymeetings.nyc/og-image/og-layouts/meeting/?t=City+Council+Stated+Meeting&amp;dt=2024-02-28T13%3A30%3A00&amp;bn=New+York+City+Council" />
    <meta property="og:url" content="https://citymeetings.nyc" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="New York City Council | City Council Stated Meeting | February 28, 2024 | 01:30 PM | citymeetings.nyc">
    <meta name="twitter:description" content="The Stated Meeting happens every 2 weeks (4 weeks in summer), when the council votes on and introduces new legislation.">
    <meta name="twitter:image" content="https://ogloji.citymeetings.nyc/og-image/og-layouts/meeting/?t=City+Council+Stated+Meeting&amp;dt=2024-02-28T13%3A30%3A00&amp;bn=New+York+City+Council" />

    
    
    
    
    
  </head>
  <body class="
    bg-neutral-100
">
    <div id="content">
      
      
        
<div class="w-full bg-neutral-50 py-3 shadow-sm">
    <header class="relative items-center justify-between max-w-prose mx-auto px-4 md:px-6">
        <div class="flex items-center justify-between max-w-prose mx-auto gap-x-2">
            <a class="block flex flex-col gap-y-2" href="/">
                <div class="flex items-center gap-x-2">
                    <img src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/citymeetings-pigeon-header-logo.png"
                         alt="The citymeetings.nyc logo showing a pigeon at a podium with a microphone."
                         width="48"
                         height="48" />
                    <div class="flex flex-col gap-y-1">
                        <p class="text-xl sm:text-2xl font-bold text-orange-600">citymeetings.nyc</p>
                    </div>
                </div>
            </a>
            <nav x-data="{ isOpen: false }" class="flex items-center">
                <div class="md:hidden flex items-center gap-x-2">
                    <!-- Mobile menu button -->
                    <button @click="isOpen = !isOpen"
                            class="md:hidden text-gray-800 text-2xl font-bold p-2"
                            aria-label="Toggle menu">
                        <span class="sr-only">Menu</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
                <!-- Desktop Navigation links -->
                <ul class="hidden md:flex md:flex-row md:items-center">
                    <li class="md:w-auto relative" x-data="{ open: false }">
                        <button @click="open = !open"
                                @click.away="open = false"
                                class="flex items-center py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">
                            Meetings
                            <svg class="w-4 h-4 ml-1"
                                 fill="none"
                                 stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <ul x-show="open"
                            x-cloak
                            class="absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                            <li>
                                <a href="/meetings/new-york-city-council/"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">New York City Council</a>
                            </li>
                            <li>
                                <a href="/meetings/nyc-charter-revision-commission/"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">NYC Charter Revision Commission</a>
                            </li>
                            <li>
                                <li>
                                    <a href="/city-planning-commission/2024-07-10-city-of-yes-public-hearing/"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">City of Yes</a>
                                </li>
                                <li>
                                    <a href="/request-meeting-coverage/"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Request Coverage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="md:w-auto">
                            <a href="/about/"
                               class="block py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">About</a>
                        </li>
                        <li class="md:w-auto">
                            <a href="/faq/"
                               class="block py-2 px-2 text-gray-800 font-semibold hover:text-orange-600">FAQ</a>
                        </li>
                    </ul>
                    <!-- Mobile Navigation links -->
                    <ul x-show="isOpen"
                        @click.away="isOpen = false"
                        x-transition:enter="transition ease-out duration-75"
                        x-transition:enter-start="opacity-0 transform -translate-y-2"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-in duration-75"
                        x-transition:leave-start="opacity-100 transform translate-y-0"
                        x-transition:leave-end="opacity-0 transform -translate-y-2"
                        class="md:hidden absolute top-full right-0 left-0 w-full bg-neutral-50 shadow-sm z-10 py-2 px-4 text-right">
                        <li class="w-full">
                            <p class="block w-full py-2 px-4 text-gray-800 font-semibold">Meetings</p>
                            <ul class="pl-4">
                                <li>
                                    <a href="/meetings/new-york-city-council/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">New York City Council</a>
                                </li>
                                <li>
                                    <a href="/meetings/nyc-charter-revision-commission/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">NYC Charter Revision Commission</a>
                                </li>
                                <li>
                                    <a href="/city-planning-commission/2024-07-10-city-of-yes-public-hearing/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">City of Yes</a>
                                </li>
                                <li>
                                    <a href="/request-meeting-coverage/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">Request Coverage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="w-full">
                            <a href="/about/"
                               class="block w-full py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">About</a>
                        </li>
                        <li class="w-full">
                            <a href="/faq/"
                               class="block w-full py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="text-sm mt-2">Your guide to NYC's public proceedings.</p>
        </header>
        
            <nav class="flex flex-wrap items-center text-sm sm:text-base gap-y-2 max-w-prose mx-auto px-4 md:px-6 mt-6">
                
                    <a href="/" class="hover:text-orange-600 underline">Home</a>
                    <span class="mx-2">&gt;</span>
                
                    <a href="/meetings/new-york-city-council/" class="hover:text-orange-600 underline">New York City Council Meetings</a>
                    
                
            </nav>
        
    </div>

      
      
        
    <div class="max-w-prose mx-auto flex flex-col gap-y-8 py-8">
        <div class="px-4 flex flex-col gap-4">
            <h1 class="font-semibold text-2xl">New York City Council</h1>
            <h1 class="font-semibold text-lg">City Council Stated Meeting</h1>
            <div class="flex flex-row items-center gap-2 text-gray-600 font-semibold">
                <p>Feb 28, 2024</p>
                <p>·</p>
                <p>01:30 PM</p>
            </div>
            <div class="flex flex-row items-center gap-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <p>43 min</p>
            </div>
        </div>
        <div class="px-4 flex flex-col gap-y-8">
            <h2 class="text-xl font-semibold">Summary</h2>
            <div class="leading-relaxed markdown"><p>The Stated Meeting happens every 2 weeks (4 weeks in summer), when the council votes on and introduces new legislation.</p></div>
        </div>
        <div class="px-4 flex flex-col gap-y-8 leading-relaxed">
            <h2 class="text-xl font-semibold">Meeting chapters</h2>
            <div class="flex flex-col gap-y-1">
                <p>Read summaries and watch videos for short segments that matter to you.</p>
            </div>
            <div x-data="{ selectedTypes: {
                
                    
                    'INVOCATION': true
                
                    ,
                    'PROCEDURE': true
                
                    ,
                    'REMARKS': true
                
                } }">
                <div class="flex flex-wrap gap-4 mb-6"
                     hx-get="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/get-chapters/"
                     hx-trigger="change from:input[type='checkbox'], fetch-chapter-list from:button"
                     hx-target="#chapter-list"
                     hx-include="input[name^='chapter-type-']">
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-INVOCATION"
                                   value="True"
                                   x-model="selectedTypes['INVOCATION']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-invocation text-black border border-gray-300 rounded-full">INVOCATION</span>
</div>

                                <span class="text-sm text-gray-600">(1)</span>
                            </span>
                        </label>
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-PROCEDURE"
                                   value="True"
                                   x-model="selectedTypes['PROCEDURE']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-procedure text-black border border-gray-300 rounded-full">PROCEDURE</span>
</div>

                                <span class="text-sm text-gray-600">(7)</span>
                            </span>
                        </label>
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-REMARKS"
                                   value="True"
                                   x-model="selectedTypes['REMARKS']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                                <span class="text-sm text-gray-600">(12)</span>
                            </span>
                        </label>
                    
                </div>
                <button @click="Object.keys(selectedTypes).forEach(key => selectedTypes[key] = false); $nextTick(() => { $dispatch('fetch-chapter-list'); });"
                        class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded text-sm">Deselect All</button>
            </div>
            <div id="chapter-list" class="flex flex-col gap-y-8">
                

    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/council-member-amanda-farias-opens-stated-meeting-of-february-28-2024/"
           data-chapter-id="1947"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Council Member Amanda Farías Opens Stated Meeting of February 28, 2024</h3>
                <p class="text-gray-600">Council Member Amanda Farías, the Majority Leader of the NYC City Council, inaugurates the stated meeting on February 28, 2024. - Farías welcomes attendees and thanks the public for joining …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:00:59</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>46 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/invocation-by-pastor-louis-lam/"
           data-chapter-id="1950"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-invocation text-black border border-gray-300 rounded-full">INVOCATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Invocation by Pastor Louis Lam</h3>
                <p class="text-gray-600">Pastor Louis Lam prays for wisdom, open-mindedness, and love in governing New York City.</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:06:26</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>125 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/susan-zhuang-acknowledges-pastor-louis-lams-community-work/"
           data-chapter-id="1951"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Susan Zhuang Acknowledges Pastor Louis Lam&#x27;s Community Work</h3>
                <p class="text-gray-600">Council Member Susan Zhuang acknowledges Pastor Louis Lam&#x27;s contributions to the Chinese Bensonhurst community.</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:08:32</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>38 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/communications-from-speaker-adrienne-e-adams/"
           data-chapter-id="1953"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Communications from Speaker Adrienne E. Adams</h3>
                <p class="text-gray-600">Speaker Adrienne E. Adams sends condolences for lost community members and announces upcoming events and cultural heritage months. - Begins with condolences for the passing of individuals from different districts. …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:09:39</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>8 min</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/gale-a-brewer-on-addressing-lithium-ion-battery-risks-in-nyc/"
           data-chapter-id="1956"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Gale A. Brewer on Addressing Lithium Ion Battery Risks in NYC</h3>
                <p class="text-gray-600">Council Member Gale A. Brewer discusses the risks of lithium ion batteries in New York City, including a recent deadly fire incident. - Brewer discusses the dangers of lithium ion …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:18:38</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>119 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/julie-menin-on-street-vending-legislation-in-nyc/"
           data-chapter-id="1957"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Julie Menin on Street Vending Legislation in NYC</h3>
                <p class="text-gray-600">Council Member Julie Menin advocates for the passing of three street vending bills in the New York City Council. - Menin highlights her three legislative initiatives aimed at supporting street …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:20:41</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>84 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/mercedes-narcisse-on-the-medicaid-underfunding-crisis-in-new-york-hospitals/"
           data-chapter-id="1958"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Mercedes Narcisse on the Medicaid Underfunding Crisis in New York Hospitals</h3>
                <p class="text-gray-600">Council Member Mercedes Narcisse discusses the healthcare crisis caused by Medicaid underfunding in New York, highlighting its severe consequences for healthcare workers, hospitals, and over four million Medicaid dependents. - …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:28:41</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>121 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/yusef-salaam-on-the-tragic-fire-at-2-saint-nicholas-place-and-the-loss-of-faizhou-khan/"
           data-chapter-id="1959"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Yusef Salaam on the Tragic Fire at 2 Saint Nicholas Place and the Loss of Faizhou Khan</h3>
                <p class="text-gray-600">Yusef Salaam, Council Member of the NYC City Council, mourns the loss of Fazil Khan in a tragic fire at 2 Saint Nicholas Place and honors his life and contributions. …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:30:53</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>154 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/eric-dinowitz-on-legislation-for-increased-accessibility-and-informing-students-on-financial-aid/"
           data-chapter-id="1960"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Eric Dinowitz on Legislation for Increased Accessibility and Informing Students on Financial Aid</h3>
                <p class="text-gray-600">Council Member Eric Dinowitz presents three pieces of legislation aimed at improving accessibility in the city and informing students about financial aid opportunities. - The first bill establishes accessibility guidelines …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:33:42</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>120 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/shahana-hanif-on-intro-210-to-end-30-60-day-shelter-stay-caps-for-asylum-seekers/"
           data-chapter-id="1961"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Shahana Hanif on Intro 210 to End 30-60 Day Shelter Stay Caps for Asylum Seekers</h3>
                <p class="text-gray-600">Shahana Hanif introduces legislation to end the mayor&#x27;s restrictions on shelter stays for asylum seekers. - Hanif reintroduces intro 210, aiming to abolish the 30-60 day caps on shelter stays …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:36:33</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>63 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/althea-stevens-on-regulating-social-media-use-among-youth/"
           data-chapter-id="1962"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Althea Stevens on Regulating Social Media Use Among Youth</h3>
                <p class="text-gray-600">Council Member Althea Stevens introduces legislation to regulate social media use among youth and address mental health concerns. - Two pieces of legislation are introduced; one requires parental or guardian …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:37:46</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>73 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/jennifer-gutierrez-on-traffic-safety-challenges-and-the-need-for-systemic-solutions-on-broadway/"
           data-chapter-id="1963"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Jennifer Gutiérrez on Traffic Safety Challenges and the Need for Systemic Solutions on Broadway</h3>
                <p class="text-gray-600">Jennifer Gutiérrez discusses the recent traffic fatality on Broadway, stressing the preventable nature of such incidents and the need for comprehensive solutions. - Expresses condolences for the recent tragic loss …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:39:07</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>84 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-02-28-0130-pm-city-council-stated-meeting/chapter/council-member-pierina-ana-sanchez-on-regulating-street-vending-and-increasing-access-to-rapid-sti-testing/"
           data-chapter-id="1965"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Council Member Pierina Ana Sanchez on Regulating Street Vending and Increasing Access to Rapid STI Testing</h3>
                <p class="text-gray-600">Council Member Pierina Ana Sanchez introduces two bills aimed at regulating street vending and increasing access to rapid STI testing. - Intro 431 (formerly 1270) proposes to regulate street vending …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:40:46</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>105 sec</p>
                </div>
            </div>
        </a>
    


            </div>
        </div>
    </div>

      
    </div>
    
      <div id="beg-wall-container">
<div x-data="begWall()"
     x-show="showBegWall"
     x-cloak
     class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full mx-4">
        <div x-show="!showNewsletter" class="flex flex-col gap-y-4">
            <div class="flex flex items-center gap-x-4">
                <img src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/citymeetings-pigeon-header-logo.png"
                     alt="Citymeetings.nyc pigeon logo"
                     width="64"
                     height="64">
                <h1 class="text-xl font-semibold mb-4 mt-4">Is citymeetings.nyc useful to you?</h1>
            </div>
            <div class="flex flex-col gap-y-4">
                <p>I'm thrilled!</p>
                <p>
                    Please help me out by answering <span class="font-semibold italic">just one question</span>.
                </p>
                <p>What do you do?</p>
            </div>
            <form hx-post="/submit-beg-wall/" @submit="submitBegWall()">
                <div class="mb-4">
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="government"
                               name="field"
                               value="government"
                               x-model="field"
                               class="mr-2">
                        <label for="government">Government</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="advocacy"
                               name="field"
                               value="advocacy"
                               x-model="field"
                               class="mr-2">
                        <label for="advocacy">Advocacy</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="public-affairs"
                               name="field"
                               value="public-affairs"
                               x-model="field"
                               class="mr-2">
                        <label for="public-affairs">Public Affairs</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="media"
                               name="field"
                               value="media"
                               x-model="field"
                               class="mr-2">
                        <label for="media">Media</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="other"
                               name="field"
                               value="other"
                               x-model="field"
                               class="mr-2">
                        <label for="other">Other</label>
                    </div>
                </div>
                <div x-show="field === 'other'" class="mb-4">
                    <label class="block mb-2">What do you do? (optional)</label>
                    <input type="text"
                           name="other_field"
                           x-model="otherField"
                           class="w-full p-2 border rounded">
                </div>
                <div class="flex flex-col sm:flex-row justify-between mt-8 gap-4">
                    <button type="submit"
                            @click="window.EventTracker.begwallSubmitted();"
                            :disabled="!field"
                            :class="{'bg-orange-600 hover:bg-orange-700': field, 'bg-orange-200 cursor-not-allowed': !field}"
                            class="text-white px-4 py-2 rounded">Submit Answer</button>
                    <button @click="skipBegWall(); window.EventTracker.begwallSkipped();"
                            type="button"
                            class="text-sm text-gray-600 hover:text-gray-800">Skip</button>
                </div>
            </form>
        </div>
        <div x-show="showNewsletter" class="flex flex-col gap-y-2">
            <h2 class="text-xl font-semibold mb-2">Thank you!</h2>
            <p class="mb-4">Want to stay up to date? Sign up for the newsletter.</p>
            <form action="https://buttondown.com/api/emails/embed-subscribe/citymeetingsnyc"
                  method="post"
                  target="popupwindow"
                  @submit="closeNewsletter(); window.EventTracker.begwallSignedUpForNewsletter();"
                  class="flex flex-col gap-y-2 mb-4">
                <input type="hidden" value="1" name="embed" />
                <input type="hidden" value="begwall-signup" name="tag" />
                <input type="hidden" :value="'works-in-' + field" name="tag" />
                <div class="flex items-center">
                    <input class="block p-2 flex-grow text-sm text-gray-900 bg-gray-50 rounded-l-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
                           placeholder="Enter your email"
                           type="email"
                           name="email"
                           required>
                    <button type="submit"
                            class="py-2 px-4 text-sm font-medium text-center text-white rounded-r-lg border cursor-pointer bg-orange-600 border-orange-500 hover:bg-orange-800 focus:ring-4 focus:ring-primary-300">
                        Subscribe
                    </button>
                </div>
            </form>
            <button @click="closeNewsletter(); window.EventTracker.begwallSkipped();"
                    type="button"
                    class="text-sm text-gray-600 hover:text-gray-800">No, thanks</button>
        </div>
    </div>
</div>
</div>
    
  </body>
</html>
