
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/favicon/site.webmanifest" />
    <title>
      
    New York City Council | Subcommittee on Landmarks, Public Sitings and Dispositions | March 28, 2024 | 11:00 AM | citymeetings.nyc

    </title>
    
      

<link rel="preload" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/css/dist/styles.css" as="style">
 

<link rel="stylesheet" type="text/css" href="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/css/dist/styles.css">




      <style>
      [x-cloak] {
        display: none !important;
      }
      </style>
    
    
      <script>
      window.APP_CONFIG = {
          shouldSendPosthogEvents: true,
          shouldSendPlausibleEvents: true,
      };
      </script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/app/modules/events.js"></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/alpine.min.js" defer></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/htmx.min.js" defer></script>
      <script src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/js/app/components/beg-wall.js"></script>
      
      
        <script>window.POSTHOG_PROPERTIES = {};</script>
      
      
        <script>
      if (window.APP_CONFIG.shouldSendPosthogEvents) {
        !(function (t, e) {
          var o, n, p, r;
          e.__SV ||
            ((window.posthog = e),
            (e._i = []),
            (e.init = function (i, s, a) {
              function g(t, e) {
                var o = e.split(".");
                (2 == o.length && ((t = t[o[0]]), (e = o[1])),
                  (t[e] = function () {
                    t.push(
                      [e].concat(Array.prototype.slice.call(arguments, 0))
                    );
                  }));
              }
              (((p = t.createElement("script")).type = "text/javascript"),
                (p.crossOrigin = "anonymous"),
                (p.async = !0),
                (p.src = s.api_host + "/static/array.js"),
                (r =
                  t.getElementsByTagName("script")[0]).parentNode.insertBefore(
                  p,
                  r
                ));
              var u = e;
              for (
                void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                  u.people = u.people || [],
                  u.toString = function (t) {
                    var e = "posthog";
                    return (
                      "posthog" !== a && (e += "." + a),
                      t || (e += " (stub)"),
                      e
                    );
                  },
                  u.people.toString = function () {
                    return u.toString(1) + ".people (stub)";
                  },
                  o =
                    "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId".split(
                      " "
                    ),
                  n = 0;
                n < o.length;
                n++
              )
                g(u, o[n]);
              e._i.push([i, s, a]);
            }),
            (e.__SV = 1));
        })(document, window.posthog || []);
        posthog.init("phc_W5lvwQjbFQdky0pmvtFyA0vSLHsGqWoNk1cb0s6mZHW", {
          api_host: "https://ph.citymeetings.nyc",
          ui_host: "https://us.posthog.com",
          person_profiles: "identified_only", // or 'always' to create profiles for anonymous users as well
          capture_pageview: false, // Disable automatic pageview capture
        });
        // Capture pageview with custom properties
        posthog.capture("$pageview", window.POSTHOG_PROPERTIES || {});
      }
        </script>
      
      
    
      
      <script
        defer
        data-api="https://pl.citymeetings.nyc/api/event"
        data-domain="citymeetings.nyc"
        src="https://pl.citymeetings.nyc/js/script.js"
></script>
      
    
      
    
    
    
    
    
    <style>[x-cloak] { visibility: hidden !important; }</style>

    
    
    <link rel="canonical " href="https://citymeetings.nyc" />
    <meta name="description" content="A hearing on land use applications for several affordable housing projects by the Department of Housing Preservation and Development (HPD) in the Bronx and Harlem. Discussions focused on unit mixes, affordability levels, amenities, community feedback incorporation, and measuring housing impact metrics. Featured testimony from HPD, Genesis Companies, Settlement Housing Fund, Fulcrum Properties, and the Beechwood Organization." />
    <meta property="og:title" content="New York City Council | Subcommittee on Landmarks, Public Sitings and Dispositions | March 28, 2024 | 11:00 AM | citymeetings.nyc" />
    <meta property="og:description" content="A hearing on land use applications for several affordable housing projects by the Department of Housing Preservation and Development (HPD) in the Bronx and Harlem. Discussions focused on unit mixes, affordability levels, amenities, community feedback incorporation, and measuring housing impact metrics. Featured testimony from HPD, Genesis Companies, Settlement Housing Fund, Fulcrum Properties, and the Beechwood Organization." />
    <meta property="og:image" content="https://ogloji.citymeetings.nyc/og-image/og-layouts/meeting/?t=Subcommittee+on+Landmarks%2C+Public+Sitings+and+Dispositions&amp;dt=2024-03-28T11%3A00%3A00&amp;bn=New+York+City+Council" />
    <meta property="og:url" content="https://citymeetings.nyc" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="New York City Council | Subcommittee on Landmarks, Public Sitings and Dispositions | March 28, 2024 | 11:00 AM | citymeetings.nyc">
    <meta name="twitter:description" content="A hearing on land use applications for several affordable housing projects by the Department of Housing Preservation and Development (HPD) in the Bronx and Harlem. Discussions focused on unit mixes, affordability levels, amenities, community feedback incorporation, and measuring housing impact metrics. Featured testimony from HPD, Genesis Companies, Settlement Housing Fund, Fulcrum Properties, and the Beechwood Organization.">
    <meta name="twitter:image" content="https://ogloji.citymeetings.nyc/og-image/og-layouts/meeting/?t=Subcommittee+on+Landmarks%2C+Public+Sitings+and+Dispositions&amp;dt=2024-03-28T11%3A00%3A00&amp;bn=New+York+City+Council" />

    
    
    
    
    
  </head>
  <body class="
    bg-neutral-100
">
    <div id="content">
      
      
        
<div class="w-full bg-neutral-50 py-3 shadow-sm">
    <header class="relative items-center justify-between max-w-prose mx-auto px-4 md:px-6">
        <div class="flex items-center justify-between max-w-prose mx-auto gap-x-2">
            <a class="block flex flex-col gap-y-2" href="/">
                <div class="flex items-center gap-x-2">
                    <img src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/citymeetings-pigeon-header-logo.png"
                         alt="The citymeetings.nyc logo showing a pigeon at a podium with a microphone."
                         width="48"
                         height="48" />
                    <div class="flex flex-col gap-y-1">
                        <p class="text-xl sm:text-2xl font-bold text-orange-600">citymeetings.nyc</p>
                    </div>
                </div>
            </a>
            <nav x-data="{ isOpen: false }" class="flex items-center">
                <div class="md:hidden flex items-center gap-x-2">
                    <!-- Mobile menu button -->
                    <button @click="isOpen = !isOpen"
                            class="md:hidden text-gray-800 text-2xl font-bold p-2"
                            aria-label="Toggle menu">
                        <span class="sr-only">Menu</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
                <!-- Desktop Navigation links -->
                <ul class="hidden md:flex md:flex-row md:items-center">
                    <li class="md:w-auto relative" x-data="{ open: false }">
                        <button @click="open = !open"
                                @click.away="open = false"
                                class="flex items-center py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">
                            Meetings
                            <svg class="w-4 h-4 ml-1"
                                 fill="none"
                                 stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <ul x-show="open"
                            x-cloak
                            class="absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                            <li>
                                <a href="/meetings/new-york-city-council/"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">New York City Council</a>
                            </li>
                            <li>
                                <a href="/meetings/nyc-charter-revision-commission/"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">NYC Charter Revision Commission</a>
                            </li>
                            <li>
                                <li>
                                    <a href="/city-planning-commission/2024-07-10-city-of-yes-public-hearing/"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">City of Yes</a>
                                </li>
                                <li>
                                    <a href="/request-meeting-coverage/"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Request Coverage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="md:w-auto">
                            <a href="/about/"
                               class="block py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">About</a>
                        </li>
                        <li class="md:w-auto">
                            <a href="/faq/"
                               class="block py-2 px-2 text-gray-800 font-semibold hover:text-orange-600">FAQ</a>
                        </li>
                    </ul>
                    <!-- Mobile Navigation links -->
                    <ul x-show="isOpen"
                        @click.away="isOpen = false"
                        x-transition:enter="transition ease-out duration-75"
                        x-transition:enter-start="opacity-0 transform -translate-y-2"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-in duration-75"
                        x-transition:leave-start="opacity-100 transform translate-y-0"
                        x-transition:leave-end="opacity-0 transform -translate-y-2"
                        class="md:hidden absolute top-full right-0 left-0 w-full bg-neutral-50 shadow-sm z-10 py-2 px-4 text-right">
                        <li class="w-full">
                            <p class="block w-full py-2 px-4 text-gray-800 font-semibold">Meetings</p>
                            <ul class="pl-4">
                                <li>
                                    <a href="/meetings/new-york-city-council/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">New York City Council</a>
                                </li>
                                <li>
                                    <a href="/meetings/nyc-charter-revision-commission/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">NYC Charter Revision Commission</a>
                                </li>
                                <li>
                                    <a href="/city-planning-commission/2024-07-10-city-of-yes-public-hearing/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">City of Yes</a>
                                </li>
                                <li>
                                    <a href="/request-meeting-coverage/"
                                       class="block w-full py-2 px-4 text-gray-800 hover:text-orange-600">Request Coverage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="w-full">
                            <a href="/about/"
                               class="block w-full py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">About</a>
                        </li>
                        <li class="w-full">
                            <a href="/faq/"
                               class="block w-full py-2 px-4 text-gray-800 font-semibold hover:text-orange-600">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="text-sm mt-2">Your guide to NYC's public proceedings.</p>
        </header>
        
            <nav class="flex flex-wrap items-center text-sm sm:text-base gap-y-2 max-w-prose mx-auto px-4 md:px-6 mt-6">
                
                    <a href="/" class="hover:text-orange-600 underline">Home</a>
                    <span class="mx-2">&gt;</span>
                
                    <a href="/meetings/new-york-city-council/" class="hover:text-orange-600 underline">New York City Council Meetings</a>
                    
                
            </nav>
        
    </div>

      
      
        
    <div class="max-w-prose mx-auto flex flex-col gap-y-8 py-8">
        <div class="px-4 flex flex-col gap-4">
            <h1 class="font-semibold text-2xl">New York City Council</h1>
            <h1 class="font-semibold text-lg">Subcommittee on Landmarks, Public Sitings and Dispositions</h1>
            <div class="flex flex-row items-center gap-2 text-gray-600 font-semibold">
                <p>Mar 28, 2024</p>
                <p>·</p>
                <p>11:00 AM</p>
            </div>
            <div class="flex flex-row items-center gap-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <p>52 min</p>
            </div>
        </div>
        <div class="px-4 flex flex-col gap-y-8">
            <h2 class="text-xl font-semibold">Summary</h2>
            <div class="leading-relaxed markdown"><p>A hearing on land use applications for several affordable housing projects by the Department of Housing Preservation and Development (HPD) in the Bronx and Harlem. Discussions focused on unit mixes, affordability levels, amenities, community feedback incorporation, and measuring housing impact metrics. Featured testimony from HPD, Genesis Companies, Settlement Housing Fund, Fulcrum Properties, and the Beechwood Organization.</p></div>
        </div>
        <div class="px-4 flex flex-col gap-y-8 leading-relaxed">
            <h2 class="text-xl font-semibold">Meeting chapters</h2>
            <div class="flex flex-col gap-y-1">
                <p>Read summaries and watch videos for short segments that matter to you.</p>
            </div>
            <div x-data="{ selectedTypes: {
                
                    
                    'PRESENTATION': true
                
                    ,
                    'PROCEDURE': true
                
                    ,
                    'QUESTION': true
                
                    ,
                    'REMARKS': true
                
                } }">
                <div class="flex flex-wrap gap-4 mb-6"
                     hx-get="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/get-chapters/"
                     hx-trigger="change from:input[type='checkbox'], fetch-chapter-list from:button"
                     hx-target="#chapter-list"
                     hx-include="input[name^='chapter-type-']">
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-PRESENTATION"
                                   value="True"
                                   x-model="selectedTypes['PRESENTATION']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                                <span class="text-sm text-gray-600">(7)</span>
                            </span>
                        </label>
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-PROCEDURE"
                                   value="True"
                                   x-model="selectedTypes['PROCEDURE']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-procedure text-black border border-gray-300 rounded-full">PROCEDURE</span>
</div>

                                <span class="text-sm text-gray-600">(4)</span>
                            </span>
                        </label>
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-QUESTION"
                                   value="True"
                                   x-model="selectedTypes['QUESTION']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                                <span class="text-sm text-gray-600">(9)</span>
                            </span>
                        </label>
                    
                        <label class="flex items-center space-x-2 cursor-pointer">
                            <input type="checkbox"
                                   name="chapter-type-REMARKS"
                                   value="True"
                                   x-model="selectedTypes['REMARKS']"
                                   class="form-checkbox h-5 w-5 text-orange-600">
                            <span class="flex items-center space-x-2">
                                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                                <span class="text-sm text-gray-600">(1)</span>
                            </span>
                        </label>
                    
                </div>
                <button @click="Object.keys(selectedTypes).forEach(key => selectedTypes[key] = false); $nextTick(() => { $dispatch('fetch-chapter-list'); });"
                        class="px-3 py-1 bg-gray-200 hover:bg-gray-300 rounded text-sm">Deselect All</button>
            </div>
            <div id="chapter-list" class="flex flex-col gap-y-8">
                

    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/council-member-kamillah-hanks-opens-subcommittee-meeting-on-landmarks-public-sightings-and-dispositions/"
           data-chapter-id="5367"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-remarks text-black border border-gray-300 rounded-full">REMARKS</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Council Member Kamillah Hanks Opens Subcommittee Meeting on Landmarks, Public Sightings, and Dispositions</h3>
                <p class="text-gray-600">Council Member Kamillah Hanks leads the subcommittee meeting on landmarks, public sightings, and dispositions, emphasizing the session&#x27;s hybrid format and the day&#x27;s key land use projects. - Council Member Hanks …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:00:45</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>164 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/carl-hedman-presents-the-genesis-mmn1901-project/"
           data-chapter-id="5368"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Carl Hedman Presents the Genesis MMN1901 Project</h3>
                <p class="text-gray-600">Carl Hedman introduces Genesis MMN1901, aimed at creating affordable housing in Central Harlem through the multifamily preservation loan program. - The initiative involves renovating city-owned, vacant, mixed-use buildings for low …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:04:43</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>3 min</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/nicole-lockett-presents-genesis-companies-development-initiatives-in-harlem/"
           data-chapter-id="5369"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Nicole Lockett Presents Genesis Companies&#x27; Development Initiatives in Harlem</h3>
                <p class="text-gray-600">Nicole Lockett presents Genesis Companies&#x27; development initiatives in Harlem, focusing on green, energy-efficient buildings, and MWBE partnerships. - Genesis Companies, based in Harlem, is 100% African American owned and emphasizes …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:08:01</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>102 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/soweto-edwards-and-nicole-lockett-present-historic-building-rehabilitation-and-affordable-housing-project/"
           data-chapter-id="5370"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Soweto Edwards and Nicole Lockett Present Historic Building Rehabilitation and Affordable Housing Project</h3>
                <p class="text-gray-600">Soweto Edwards and Nicole Lockett present a comprehensive plan for rehabilitating historic buildings and creating affordable housing units. - The project targets the rehabilitation of 78 units into 85 affordable …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:09:48</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>3 min</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/adam-beckerman-presents-the-east-tremont-cluster-ncp-project/"
           data-chapter-id="5379"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Adam Beckerman Presents the East Tremont Cluster NCP Project</h3>
                <p class="text-gray-600">Adam Beckerman delivers a presentation on the East Tremont Cluster NCP project, aiming to construct 63 affordable rental units in the Bronx. - The project plans for the construction of …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:20:56</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>102 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/jack-heaney-managing-principal-presents-the-bronx-affordable-housing-project/"
           data-chapter-id="5380"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Jack Heaney, Managing Principal, Presents the Bronx Affordable Housing Project</h3>
                <p class="text-gray-600">Jack Heaney presents a Bronx affordable housing project designed to maximize affordable units through senior zoning regulations, featuring 63 affordable units across 3 buildings. - The project aims to use …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:22:44</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>4 min</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/how-is-the-department-of-housing-preservation-and-development-hpd-considering-changing-its-impact-measurement-metrics/"
           data-chapter-id="5527"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">How is the Department of Housing Preservation and Development (HPD) considering changing its impact measurement metrics?</h3>
                <p class="text-gray-600">The Department of Housing Preservation and Development (HPD) is considering borough presidents&#x27; recommendations to measure impact based on total bedrooms rather than total unit count, and acknowledges the demand for …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:27:21</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>88 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/what-additional-services-will-seniors-receive-at-fulcrum-properties-and-can-all-residents-use-the-community-rooms/"
           data-chapter-id="5528"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">What additional services will seniors receive at Fulcrum Properties, and can all residents use the community rooms?</h3>
                <p class="text-gray-600">Fulcrum Properties commits to providing wraparound services for senior residences and access to recreation spaces for all tenants. - Independent living services for seniors are not assisted but include social …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:29:01</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>53 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/what-are-the-specifics-of-the-bronx-project-regarding-site-ownership-and-consideration-for-homeownership/"
           data-chapter-id="5529"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">What are the specifics of the Bronx project regarding site ownership and consideration for homeownership?</h3>
                <p class="text-gray-600">HPD details city ownership of sites, their process for choosing rental construction over homeownership, and future plans for homeownership projects. - All discussed sites are city-owned, with some designated for …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:30:07</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>99 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/what-are-the-floor-plans-for-the-apartments-in-the-largest-of-the-three-properties/"
           data-chapter-id="5530"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">What are the floor plans for the apartments in the largest of the three properties?</h3>
                <p class="text-gray-600">The apartments in the largest of the three properties have specific average sizes for studios, one-bedroom, and two-bedroom units. - One-bedroom units average about 550 square feet. - Studios are …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:31:46</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>63 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/what-are-the-expected-average-rents-for-different-types-of-apartments-based-on-the-neighborhoods-income/"
           data-chapter-id="5531"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">What are the expected average rents for different types of apartments based on the neighborhood&#x27;s income?</h3>
                <p class="text-gray-600">Jack Heaney, Managing Principal at Fulcrum Properties, outlines the expected average rents for various apartment types, based on neighborhood income. - 25% of units are designated for low-income and formerly …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:32:49</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>74 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/can-studios-be-converted-into-one-bedroom-apartments-for-senior-affordable-housing/"
           data-chapter-id="5532"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Can studios be converted into one-bedroom apartments for senior affordable housing?</h3>
                <p class="text-gray-600">Converting studios into one-bedroom apartments for seniors is challenging due to lot layouts and complexities. - Rearranging unit mix is difficult because of constrained lot layouts. - The neighborhood construction …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:34:04</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>60 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/is-the-department-of-housing-preservation-and-development-hpd-considering-new-homeownership-programs-to-add-to-the-open-door-term-sheet/"
           data-chapter-id="5533"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Is the Department of Housing Preservation and Development (HPD) considering new homeownership programs to add to the Open Door term sheet?</h3>
                <p class="text-gray-600">HPD is not adding new homeownership programs to the Open Door term sheet but is focusing on other forms of homeowner support. - Only the Open Door term sheet is …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:35:04</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>55 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/adam-beckerman-present-the-melrose-concourse-ncp-project/"
           data-chapter-id="5534"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Adam Beckerman Present the Melrose Concourse NCP Project</h3>
                <p class="text-gray-600">Adam Beckerman, a senior planner at HPD, presents the Melrose Concourse NCP project aimed at constructing affordable rental units in the Bronx. - The project seeks land use actions to …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:40:16</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>100 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/jocelyn-torio-presents-the-melrose-concourse-affordable-housing-project/"
           data-chapter-id="5535"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-presentation text-black border border-gray-300 rounded-full">PRESENTATION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">Jocelyn Torio Presents the Melrose Concourse Affordable Housing Project</h3>
                <p class="text-gray-600">Jocelyn Torio outlines the Melrose Concourse Project, aiming to develop affordable housing in New York City. - The project includes development in three locations: 404 Claymont Parkway, 1169 Washington Avenue, …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:41:57</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>6 min</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/how-was-the-unit-mix-and-size-determined-for-the-housing-project/"
           data-chapter-id="5536"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">How was the unit mix and size determined for the housing project?</h3>
                <p class="text-gray-600">The Department of Housing Preservation and Development (HPD) explains the considerations for unit mix and size in the housing project, focusing on maximizing space and incorporating feedback. - Small site …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:48:50</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>84 sec</p>
                </div>
            </div>
        </a>
    
        <a href="/meetings/new-york-city-council/2024-03-28-1100-am-subcommittee-on-landmarks-public-sitings-and-dispositions/chapter/what-improvements-have-been-made-in-response-to-community-and-council-member-concerns/"
           data-chapter-id="5537"
           class="group">
            <div class="flex flex-col gap-y-4 p-6 rounded-md border border-neutral-200 bg-neutral-50">
                
<div>
    <span class="inline-block uppercase text-xs font-semibold py-1 px-2 tracking-wide bg-chapter-type-question text-black border border-gray-300 rounded-full">QUESTION</span>
</div>

                <h3 class="font-semibold text-lg group-hover:text-orange-600 underline">What improvements have been made in response to community and council member concerns?</h3>
                <p class="text-gray-600">Improvements in security and lighting are made in response to concerns raised by the community and the local council member. - Security concerns are addressed with the implementation of security …</p>
                <div class="flex items-center gap-2 text-gray-600">
                    <p>0:50:15</p>
                    <p>•</p>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>49 sec</p>
                </div>
            </div>
        </a>
    


            </div>
        </div>
    </div>

      
    </div>
    
      <div id="beg-wall-container">
<div x-data="begWall()"
     x-show="showBegWall"
     x-cloak
     class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full mx-4">
        <div x-show="!showNewsletter" class="flex flex-col gap-y-4">
            <div class="flex flex items-center gap-x-4">
                <img src="https://s.citymeetings.nyc/523d4960aa2c84ba967ad41b8be1bfd38a35342d/images/citymeetings-pigeon-header-logo.png"
                     alt="Citymeetings.nyc pigeon logo"
                     width="64"
                     height="64">
                <h1 class="text-xl font-semibold mb-4 mt-4">Is citymeetings.nyc useful to you?</h1>
            </div>
            <div class="flex flex-col gap-y-4">
                <p>I'm thrilled!</p>
                <p>
                    Please help me out by answering <span class="font-semibold italic">just one question</span>.
                </p>
                <p>What do you do?</p>
            </div>
            <form hx-post="/submit-beg-wall/" @submit="submitBegWall()">
                <div class="mb-4">
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="government"
                               name="field"
                               value="government"
                               x-model="field"
                               class="mr-2">
                        <label for="government">Government</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="advocacy"
                               name="field"
                               value="advocacy"
                               x-model="field"
                               class="mr-2">
                        <label for="advocacy">Advocacy</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="public-affairs"
                               name="field"
                               value="public-affairs"
                               x-model="field"
                               class="mr-2">
                        <label for="public-affairs">Public Affairs</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="media"
                               name="field"
                               value="media"
                               x-model="field"
                               class="mr-2">
                        <label for="media">Media</label>
                    </div>
                    <div class="flex items-center mb-2">
                        <input type="radio"
                               id="other"
                               name="field"
                               value="other"
                               x-model="field"
                               class="mr-2">
                        <label for="other">Other</label>
                    </div>
                </div>
                <div x-show="field === 'other'" class="mb-4">
                    <label class="block mb-2">What do you do? (optional)</label>
                    <input type="text"
                           name="other_field"
                           x-model="otherField"
                           class="w-full p-2 border rounded">
                </div>
                <div class="flex flex-col sm:flex-row justify-between mt-8 gap-4">
                    <button type="submit"
                            @click="window.EventTracker.begwallSubmitted();"
                            :disabled="!field"
                            :class="{'bg-orange-600 hover:bg-orange-700': field, 'bg-orange-200 cursor-not-allowed': !field}"
                            class="text-white px-4 py-2 rounded">Submit Answer</button>
                    <button @click="skipBegWall(); window.EventTracker.begwallSkipped();"
                            type="button"
                            class="text-sm text-gray-600 hover:text-gray-800">Skip</button>
                </div>
            </form>
        </div>
        <div x-show="showNewsletter" class="flex flex-col gap-y-2">
            <h2 class="text-xl font-semibold mb-2">Thank you!</h2>
            <p class="mb-4">Want to stay up to date? Sign up for the newsletter.</p>
            <form action="https://buttondown.com/api/emails/embed-subscribe/citymeetingsnyc"
                  method="post"
                  target="popupwindow"
                  @submit="closeNewsletter(); window.EventTracker.begwallSignedUpForNewsletter();"
                  class="flex flex-col gap-y-2 mb-4">
                <input type="hidden" value="1" name="embed" />
                <input type="hidden" value="begwall-signup" name="tag" />
                <input type="hidden" :value="'works-in-' + field" name="tag" />
                <div class="flex items-center">
                    <input class="block p-2 flex-grow text-sm text-gray-900 bg-gray-50 rounded-l-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
                           placeholder="Enter your email"
                           type="email"
                           name="email"
                           required>
                    <button type="submit"
                            class="py-2 px-4 text-sm font-medium text-center text-white rounded-r-lg border cursor-pointer bg-orange-600 border-orange-500 hover:bg-orange-800 focus:ring-4 focus:ring-primary-300">
                        Subscribe
                    </button>
                </div>
            </form>
            <button @click="closeNewsletter(); window.EventTracker.begwallSkipped();"
                    type="button"
                    class="text-sm text-gray-600 hover:text-gray-800">No, thanks</button>
        </div>
    </div>
</div>
</div>
    
  </body>
</html>
